.ALL{
  margin-top:100px;
  font-family:sans-serif;
  content-align:center;
  background-color:#fff7e0;
}

#bb{
  width:350px;
  align:center;}

.title{
  color:#990000;
  font-family:serif;
  font-size:60pt;
}
.Age{
  font-size:14pt;
  margin-bottom:0px;
}

.hometown{
  font-size:14pt;
  margin-left:40px;
  margin-top:0px;
  border:5px;
}

.sum{
  color:#0b2b4f;
}

.bio{
  margin-left:15%;
  margin-right:15%;
  text-align:center;
  position:relative;
}

.ig{
  border-radius:50%;
  margin-left:50px;
  margin-right:0px;
  width:15%
}

.rat{
  border-radius:50%;
  align-content:right;
  margin-right:50px;
  width:15vw;
  height:15vw;
  right:0px;
}

.list{
  list-style-type:none;
  align:center;
  font-size:14pt;
}

.sw{
  margin -top:20px;
}

.bd{
  margin-top:20px;
}

.img{
  width:512;
}
